/* Native Elements */
body{
    font-family: sans-serif;
    background-color: rgb(20, 17, 29); 
}




/* Custom Classes */




/* nav bar */
.navbar {
    overflow: hidden;
    background-color: rgb(10, 7, 19);
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
  }
  
/* links */
  .navbar a {
    float: left;
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
/*  */
  .navbar a:hover, .navbar a:focus {
    background: yellow;
    color: black;
  }
  
/* Main content */
  .main-body {
    margin-top: 30px;
    background-color: rgb(10, 7, 19); 
  }

  
