/* Native Elements */
:root{

  /* COLORS */
  --nav-color: rgb(10, 7, 19);
  --bg-color: rgb(20, 17, 29);
  --yellow-accent: rgb(255,255,0);
  --teal-accent: rgb(0,234,234);
  --pink-accent: rgb(255, 16, 239);
}
 
body{
    font-family: sans-serif;
    background-color: var(--bg-color); 
}

div{
  padding-left: 1rem;
  margin-bottom: 1rem;
}

section{
  margin-top: 3rem;
}

h1{
  font-size: 3rem;
  font-family: 'neon-desmon', Arial, sans-serif;
  font-weight: bolder;
  color: var(--teal-accent);
}

h2{
  font-size: 1.5rem;
  font-family: 'neon-desmon', sans-serif;
  color: var(--pink-accent);
  text-shadow: 0 0 100px var(--pink-accent),
              0 0 30px var(--pink-accent),
              0 0 40px var(--pink-accent); 
}

h3{

}

h4{
  margin-top: 0;
}

a{
  color: var(--yellow-accent);
  text-decoration: none;
  margin-bottom: 0.5rem;
}

a:hover, a:focus{
  color: var(--pink-accent);
  text-shadow: 0 0 10px var(--pink-accent),
              0 0 30px var(--pink-accent),
              0 0 40px var(--pink-accent); 
}

.menu-img:hover {
  opacity: .5;
}

code{
  background-color: rgb(70,57,79);
  padding: 0.5rem;
  display: block;
  width: 90%;
}

input{
  accent-color: var(--pink-accent);  
}

img{
  max-width: 50%;
}

input[type="text"]{
  background-color: rgb(70,57,79);
  color: white;
  width: 80%;
  height: 3rem;
}

nav {
  margin-bottom: 2rem;
}

footer{
  /* Flex Box */
  z-index: 9999;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1.5rem;

  /* Other */
  /* overflow: hidden; */
  background-color: var(--nav-color);
  /* width: 100%; */
  position: relative;
  bottom: 0;
  min-height: 3rem;
  padding: 2rem;
  padding-left: 6rem;
  font-family: 'neon-desmon', Arial, sans-serif;
  font-weight: bold;
  color: var(--yellow-accent);
  filter: drop-shadow(0 0 0.4rem black);
}

footer h3{
  text-shadow: 0 0 20px var(--yellow-accent),
              0 0 30px var(--yellow-accent),
              0 0 40px var(--yellow-accent); 
}

footer p{
  font-weight: 100;
}



/* Custom Classes */




/* nav bar */
.navbar {
  z-index: 9999;
  overflow: hidden;
  background-color: var(--nav-color);
  position: fixed; 
  top: 0; 
  left: 0;
  height: 4rem;
  width: 100%; 
  padding: 2rem;
  padding-left: 4rem;
  font-family: 'neon-desmon', Arial, sans-serif;
  font-weight: bold;
}
  
/* links */
.navbar a {
  float: left;
  display: block;
  color: var(--yellow-accent);
  text-align: center;
  font-size: 1.5REM;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 0 0 20px var(--yellow-accent),
              0 0 30px var(--yellow-accent),
              0 0 40px var(--yellow-accent); 
  /* Generated with https://unused-css.com/tools/text-shadow-generator?p=21AwAlCZgBwDxBiA7AM2MZyA0pQGZpzwCcAHLgIwbZggAsBCAhgMYCsRGQA */
}

/* links interactivity */
.navbar a:hover, .navbar a:focus {
  color: var(--teal-accent);
  text-shadow: 0 0 20px var(--teal-accent),
              0 0 30px var(--teal-accent),
              0 0 40px var(--teal-accent); 
}

/* Main content */
.style-main-body {
  margin-top: 10rem;
  padding-left: 14rem;
  padding-right: 5rem;
  color: lightgray;
  font-family: 'comfortaa';
}

.color-box{
  height: 2rem;
  width: 15rem;
}

.button-yellow{
  display: inline-block;
  padding: 0.5rem;
  color: black;
  background-color: var(--yellow-accent);
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  border-radius: 8%;
  cursor: pointer;
}

.button-yellow:hover{
  background-color: rgb(255, 255, 0, 0.5);
}

.button-pink{
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: var(--pink-accent);
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  border-radius: 8%;
  cursor: pointer;
}

.button-pink:hover{
  background-color: rgb(255, 16, 239, 0.5);
}


/* DELETE THIS AFTER */
.placeholder-img{
  height:15rem;
  width: 25rem;
}

.nav-example{
  text-shadow: 0 0 20px var(--yellow-accent),
              0 0 30px var(--yellow-accent),
              0 0 40px var(--yellow-accent); 
  font-family: 'neon-desmon';
  font-weight: bolder;
  font-size: 1.5rem;
}

.nav-example:hover, .nav-example:focus{
  color: var(--pink-accent);
}

.input-text{
  background-color: rgb(70,57,79);
  color: white;
}

.main-nav{
  z-index: 9999;
  overflow: hidden;
  background-color: var(--nav-color);
  /* width: 100%; */
  top: 0; 
  left: 0;
  height: 4rem;
  padding: 2rem;
  padding-left: 4rem;
  font-family: 'neon-desmon', Arial, sans-serif;
  font-weight: bold;
  filter: drop-shadow(0 0 0.4rem black);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
  align-items: center;
  flex-grow: 0;
}

@media only screen and (max-width: 600px) {
  .main-nav {
    z-index: 9999;
    overflow: hidden;
    background-color: var(--nav-color);
    /* width: 100%; */
    top: 0; 
    left: 0;
    height: 4rem;
    padding: 2rem;
    padding-left: 4rem;
    font-family: 'neon-desmon', Arial, sans-serif;
    font-weight: bold;
    filter: drop-shadow(0 0 0.4rem black);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    flex-grow: 0;
  }
}

.main-nav a {
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 0 0px var(--yellow-accent),
              0 0 10px var(--yellow-accent),
              0 0 20px var(--yellow-accent); 
}

.main-nav a:hover, .main-nav a:focus{
  text-shadow: 0 0 0px var(--pink-accent),
              0 0 20px var(--pink-accent),
              0 0 40px var(--pink-accent); 
}

.sidebar{
  height: 100%;
  width: 10rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--nav-color);
  overflow-x: hidden;
  filter: drop-shadow(0 0 0.4rem black);
  padding-top: 2rem;
  font-family: 'neon-desmon', Arial, sans-serif;
  font-weight: bold;
}

.sidebar a{
  padding: 6px 8px 6px 16px;
  display: block;
  border-radius: 1rem 0 0 1rem;
  text-shadow: 0 0 0px var(--yellow-accent),
              0 0 20px var(--yellow-accent),
              0 0 40px var(--yellow-accent); 
}

.sidebar a:hover, .sidebar a:focus{
  text-shadow: 0 0 0px var(--pink-accent),
              0 0 20px var(--pink-accent),
              0 0 40px var(--pink-accent); 
}

.main-body {
  /* margin-top: rem; */
  padding-left: 5rem;
  padding-right: 5rem;
  color: lightgray;
  font-family: 'comfortaa';
}

.about-us-text{
  max-width: 45%;
}

.img-big{
  max-width: 100%;
}